<% content_for(:header) do %>
  <%= game.name %>
<% end %>

<div class="mt-6 flex items-center justify-end gap-x-6 mb-4">
  <a href="#" type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" data-turbo-action="replace">
    New question
  </a>
</div>

<div class="grid grid-cols-1 gap-4" id="questions">
  <%- questions.each do |question| %>
    <%= render 'question', question: %>
  <% end %>
</div>
