<div id="game-session" class="p-4 shadow-lg rounded-lg bg-purple-500 text-white">
  <div class="font-bold md:text-2xl sm:text-xl p-5  lg:p-20 text-center"><%= game_session.current_question.text %></div>
  <%- answer = Answer.find_by(game_session_player:, question: game_session.current_question) %>
  <%= render partial: 'games/answers', locals: { game_session_player:, answer: } %>
</div>
